body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}



.lead {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.banner-header {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner-message {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.banner-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}

.banner-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.banner-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .banner-message {
        padding-bottom: 15%;
    }

    .banner-message > h1 {
        font-size: 3em;
    }

    ul.banner-tabs > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-tabs > li:last-child {
        margin-bottom: 0;
    }

    .banner-divider {
        width: 100%;
    }
}

.box-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 3px;
}

.box-ico {
    height: 16px;
    width: 16px;
}

.content {
    padding: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.blog {
    padding: 0px;

}

.blog-section-a {
    padding: 25px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.blog-section-b {
    padding: 25px;
    border-bottom: 1px solid #e7e7e7;
}

.blog-heading {
    margin-bottom: 5px;
}

.blog-author {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
}

.community {
    padding: 20px 0;
    color: #f8f8f8;
    background: url(../img/community-bg.jpg) no-repeat center center;
    background-size: cover;
}

.community h2 {
    margin: 0;
    padding: 50px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

@media(max-width:767px) {
    .community h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.page-header {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.page-title {
    position: relative;
}

.page-title h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}

.page-title a {
    text-decoration: none;
    color: inherit;
}

.post {
  margin-bottom: 100px;
  margin-top: 50px;
}

.post-header {
    margin-bottom: 50px;
}

.post-meta {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.post-content {
    font-size: 18px;
    font-weight: 400;
}
