[project]
	description = SPDK organization web pages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
[access "refs/for/refs/*"]
	read = group user/Ben Walker (benlwalker)
	push = group user/Ben Walker (benlwalker)
	label-Code-Review = -2..+2 group user/Ben Walker (benlwalker)
	label-Verified = -1..+1 group user/Ben Walker (benlwalker)
	rebase = group user/Ben Walker (benlwalker)
	removeReviewer = group user/Ben Walker (benlwalker)
	submit = group user/Ben Walker (benlwalker)
[access "refs/heads/*"]
	read = group user/Ben Walker (benlwalker)
	create = group user/Ben Walker (benlwalker)
	push = +force group user/Ben Walker (benlwalker)
	pushMerge = group user/Ben Walker (benlwalker)
[access "refs/tags/*"]
	push = group user/Ben Walker (benlwalker)
	push = +force group user/Ben Walker (benlwalker)
