[project]
	description = SPDK organization web pages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Bots
	editAssignee = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
[submit]
	action = rebase if necessary
