[project]
	description = SPDK organization web pages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Bots
	editAssignee = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
	push = group SPDK Bots
	push = +force group SPDK Maintainers
[submit]
	action = rebase always
[receive]
	requireChangeId = true
