<div class="panel panel-center">
    <div class="panel-heading">链接</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        <li><a href="https://ci.spdk.io/spdk/status/">SPDK测试池状态</a></li>
        <li><a href="https://ci.spdk.io/spdk.github.io/status/">SPDK网页测试池状态</a></li>
        <li><a href="https://trello.com/b/P5xBO7UR/things-to-do">SPDK Trello板块</a></li>
        <li><a href="https://trello.com/b/3DvD85zi/continuous-integration">持续集成Trello板块</a></li>
        </ul>
    </div>
    </div>
</div>