<div class="panel panel-center">
    <div class="panel-heading">Links</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        {% if page.lang == 'cn' %}
        <li><a href="https://ci.spdk.io/spdk/status/">SPDK集成测试状态</a></li>
        <li><a href="https://ci.spdk.io/spdk.github.io/status/">SPDK网站测试状态</a></li>
        <li><a href="https://trello.com/b/P5xBO7UR/things-to-do">SPDK Trello板块</a></li>
        <li><a href="https://trello.com/b/3DvD85zi/continuous-integration">持续集成Trello板块</a></li>
        {% else %}
        <li><a href="https://ci.spdk.io/spdk/status/">SPDK Test Pool Status</a></li>
        <li><a href="https://ci.spdk.io/spdk.github.io/status/">SPDK Webpage Test Pool Status</a></li>
        <li><a href="https://trello.com/b/P5xBO7UR/things-to-do">SPDK Trello Board</a></li>
        <li><a href="https://trello.com/b/3DvD85zi/continuous-integration">CI Trello Board</a></li>
        {% endif %}
        </ul>
    </div>
    </div>
</div>
