<section id="community">
	<div class="community">
        <div class="container">
            <div class="col-lg-6">
                <h2>Join Our Community:</h2>
            </div>
            <div class="col-lg-6">
                <div class="btn-group-vertical" role="group">
                    {% for box in site.boxes %}

                            <a href="{{ box.url }}" class="btn btn-default btn-lg">
                            <i class="glyphicon glyphicon-{{ box.ico }}"></i>
                            <span class="box-name">{{ box.title }}</span>
                                </a>

                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
</section>
