<section id="nav">
  <div class="navbar navbar-default navbar-static-top banner-tabs">
    <ul class="nav navbar-nav">
      {% for box in site.boxes %}
      {% if page.url == box.url %}
      <li class="active" role="presentation">
      {% else %}
      <li role="presentation">
      {% endif %}
        {% if box.url contains 'http' %}
        <a href="{{ box.url }}">
        {% else %}
        <a href="{{ baseurl_rel }}{{ box.url }}">
        {% endif %}
          <i class="glyphicon glyphicon-{{ box.ico }}"></i>
          <span class="box-name">{{ box.title }}</span>
        </a>
      </li>
      {% endfor %}
      <li class='pull-right' role="presentation"><a id = "enUrl" href=" " >English</a></li>
      <li class='pull-right' role="presentation"><a id = "cnUrl" href=" ">中文</a></li>
    </ul>
  </div>
</section>

<script type= "text/javascript">
  var enUrl = window.location.href;
  var urlList = enUrl.split("/");
  urlList.splice(3,0,"cn");
  var cnUrl = urlList.join("/");
  document.getElementById("cnUrl").href = cnUrl;
</script>
