<head>
  {% assign url_slash_count = page.url | split: '/' | size %}

  {% if url_slash_count <= 1 %}
    {% assign baseurl_rel = '.' %}
  {% elsif url_slash_count == 2 %}
    {% assign baseurl_rel = '..' %}
  {% elsif url_slash_count == 3 %}
    {% assign baseurl_rel = '../..' %}
  {% elsif url_slash_count == 4 %}
    {% assign baseurl_rel = '../../..' %}
  {% elsif url_slash_count == 5 %}
    {% assign baseurl_rel = '../../../..' %}
  {% elsif url_slash_count == 6 %}
    {% assign baseurl_rel = '../../../../..' %}
  {% else %}
    {% assign baseurl_rel = site.baseurl %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ baseurl_rel }}/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,900' type='text/css'>
  <link rel="stylesheet" href="{{ baseurl_rel }}/css/spdk.css">

  <link href="{{ baseurl_rel }}/feed.xml" type="application/atom+xml" rel="alternate" title="Atom Feed">
</head>
