<link rel="stylesheet" href="{{ baseurl_rel }}/css/cn-news.css" media="screen" type="text/css" />
    <div class="mainBox">
        <div class="leftBox">
            <div class="menuItem title">
                <a href="{{ baseurl_rel }}/cn/news">首页</a>
            </div>
            <div class="menuItem tech-article">
                <a href="{{ baseurl_rel }}/cn/articles">技术文章</a>
            </div>
            <div class="menuItem use-case">
                <a href="{{ baseurl_rel }}/cn/usecase">用户案例</a>
            </div>
            <div class="menuItem solution">
                <a href="{{ baseurl_rel }}/cn/solution">解决方案</a>
            </div>
            <div class="menuItem white-paper">
                <a href="{{ baseurl_rel }}/cn/whitepaper">用户白皮书</a>
            </div>
            <div class="menuItem wechat">
                <a href="{{ baseurl_rel }}/cn/wechat">微信公众号</a>
            </div>
        </div>
    </div>
