<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-sm-12">
          {% include header.html %}
        </div>
      </div>

    <div class="row">
        <div class="col-sm-12 text-left">
          <h1>{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          {% include article-cn.html %}
        </div>

        <div class="col-sm-4">
          {% include newslinks.html %}
        </div>
      </div>

    </div>
  </body>

</html>
