<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-xs-12">
          {% include header.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-left">
          <h1>{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <section id="content" class="content text-center">
            {{ content }}
          </section>
        </div>
        <div class="col-xs-4">
          <div class="panel panel-center nav-links">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                {% if page.lang == 'cn' %}
                <li><a href="https://ci.spdk.io/">SPDK Jenkins集成测试状态</a></li>
                <li><a href="https://trello.com/b/P5xBO7UR/things-to-do">SPDK Trello板块</a></li>
                <li><a href="https://trello.com/b/3DvD85zi/continuous-integration">持续集成Trello板块</a></li>
                {% else %}
                <li><a href="https://ci.spdk.io/">SPDK Jenkins Test Pool Status</a></li>
                <li><a href="https://trello.com/b/P5xBO7UR/things-to-do">SPDK Trello Board</a></li>
                <li><a href="https://trello.com/b/3DvD85zi/continuous-integration">CI Trello Board</a></li>
                {% endif %}
                </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
