<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="row">
      <div class="col-lg-12">
        {% include header.html %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <section id="content" class="content">
          {{ content }}
        </section>
      </div>
    </div>

    <div class = "row">
      {% include footer.html %}
    </div>
  </body>
</html>
