<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-sm-12">
          {% include header.html %}
          {% include banner.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="well">
                <h3 style="text-align:center;"><a href="summit/us/2018">Register Now For the 2018 SPDK US Summit</a></h3>
              </div>
            </div>
          </div>
          <section id="content" class="content text-center">
            {{ content }}
          </section>
        </div>
        <div class="col-sm-4">
          {% include news.html %}
        </div>
      </div>

    </div>
  </body>
</html>
