<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-sm-12">
          {% include header.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <section id="content" class="content text-center">
            {{ content }}
          </section>
        </div>
        <div class="col-sm-4">
          {% include news.html %}
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-sm-12">
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
