<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-xs-12">
          {% include header.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-left">
          <h1>{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <section id="content" class="content text-center">
            {{ content }}
          </section>
        </div>
        <div class="col-xs-4">
          <div class="panel panel-center nav-links">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                {% if page.lang == 'cn' %}
                <li><a href="{{ baseurl_rel }}/cn/news">用户案例</a></li>
                <li><a href="{{ baseurl_rel }}/cn/articles">技术文章</a></li>
                <li><a href="{{ baseurl_rel }}/cn/whitepaper">白皮书</a></li>
                <li><a href="{{ baseurl_rel }}/cn/webinar">在线分享</a></li>
                {% else %}
                <li><a href="{{ baseurl_rel }}/news">News</a></li>
                <li><a href="{{ baseurl_rel }}/articles">Technical Articles</a></li>
                <li><a href="{{ baseurl_rel }}/whitepaper">Whitepapers</a></li>
                <li><a href="{{ baseurl_rel }}/webinar">Webinars</a></li>
                {% endif %}
                </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
